body.index{
	background-image: url("http://images.travelerstoday.com/data/images/full/18319/know-what-youre-covered-for.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

body.second{
	background-image: url("http://images.travelerstoday.com/data/images/full/18319/know-what-youre-covered-for.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

body.third{
	background-color: lightblue;
}

body.profile{
	background-color: lightblue;
}


img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	margin: 10px;
	float: center;
	height: 25px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	padding: 3px;
}

.btn {
  	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 5px;
  	font-family: Arial;
  	color: #000000;
  	font-size: 15px;
  	background: #E6E6E6;
  	padding: 7px 15px 7px 15px;
  	text-decoration: none;
	border: none;
	margin: 10px;
}

.btn:hover {
  background: #B8B8B8;
  text-decoration: none;
}

img.kongselfie{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	background-color: #E6E6E6;
	text-align: center;
}

h4{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	background-color: #E6E6E6;
}